.feed {
  display: flex;
  justify-content: center;
}

.feed-column {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#main-logo {
  justify-self: flex-start;
  font-size: 30px;
  font-weight: bold;
}

#user-elements {
  display: flex;
}

#name {
  align-self: center;
  margin: 10px;
}

#profile-picture {
  border-radius: 50%;
  height: 50px;
}